<p id="notice"><%= notice %></p>

<h1>Encounter Details</h1>

<p>
  <strong>Visit no:</strong>
  <%= @encounter.visit_no %>
</p>

<p>
  <strong>Admitted at:</strong>
  <%= @encounter.admitted_at %>
</p>

<p>
  <strong>Discharged at:</strong>
  <%= @encounter.discharged_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @encounter.location %>
</p>

<p>
  <strong>Room:</strong>
  <%= @encounter.room %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @encounter.bed %>
</p>


<%= link_to 'Back', patient_path(@patient) %>

<%= button_to 'Edit', edit_patient_encounter_path(@patient, @encounter), method: :get %>

<%= link_to 'Destroy', patient_encounter_path(@patient), method: :delete, data: { confirm: 'Are you sure?' } %>