<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<%= button_to "New Patient", { :action => "new" }, :method => :get %>

<br>

<table border="1">
  <thead>
    <tr>
      <th>MRN</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.mrn %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= link_to 'Show', patient %> <%= link_to 'Edit', edit_patient_path(patient) %> <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

