<p id="notice"><%= notice %></p>

<h1>Patient's Details</h1>

<p>
  <strong>MRN:</strong>
  <%= @patient.mrn %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @patient.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Height (in cm):</strong>
  <%= @patient.height %>
</p>

<h2>Encounters</h2>

<%= button_to "Add Encounter", new_encounter_path, :method => :get %>

<br>

<table border="1">
  <thead>
  <tr>
    <th>Visit Number</th>
    <th>Admitted At</th>
    <th>Discharged At</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @encounters.each do |encounter| %>
      <tr>
        <td><%= encounter.visit_no %></td>
        <td><%= encounter.admitted_at %></td>
        <td><%= encounter.discharged_at %></td>
        <td><%= link_to 'Show', encounter %> <%= link_to 'Edit', edit_encounter_path(encounter) %> <%= link_to 'Destroy', encounter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Back', patients_path, method: :get %>
